@import "tailwindcss";

@theme {
  --color-edenred-primary: #E2001A;
  /* ... suas outras cores ... */
}

/* Isso faz com que o fundo e o texto base mudem sozinhos */
@layer base {
  body {
    @apply transition-colors duration-300;
    @apply bg-[family-name:--color-edenred-background] text-[family-name:--color-edenred-text];
  }

  .dark body {
    background-color: #0F0F0F;
    color: #FFFFFF;
  }
}